---
layout: page
title: Accommodations
---

<p>
  Here is a starting list of places to stay during your trip to Tahoe. This is
  by no means comprehensive so feel free to do your own research!
</p>

{% for place in site.data.accommodations %}
  <div class="place">
    <h2>{{ place.name }}</h2>
    <div class="accommodation-images">
      {% for image in place.images %}
        <div class="image">
          <img src="{{ site.baseurl }}public/accommodations/{{ place.slug }}/{{ image.file }}"
               alt="{{ image.alt }}"
               {% if image.height %}height="{{ image.height }}"{% endif %}>
        </div>
      {% endfor %}
    </div>

    <ul>
      {% if place.address %}
        <li>
          Address: <a href="{{ place.map_url }}" target="_blank">{{ place.address }}</a>
        </li>
      {% endif %}
      <li>
        Website: <a href="http://{{ place.url }}" target="_blank">{{ place.url }}</a>
      </li>
    </ul>
    <p>{{ place.description }}</p>
  </div>
{% endfor %}
