.masthead {
  background-image: url('../lake-tahoe.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top center;
  background-attachment: fixed;
}
/* Always put it at the center */
.masthead-title {
  text-align: center;
  margin: 100px auto;
}
.masthead-title a {
  color: #fff !important;
}

/* TODO what if too small? */

/* TODO pick our color */
.theme-base-wedding .sidebar,
.theme-base-wedding .sidebar-toggle:active,
.theme-base-wedding #sidebar-checkbox:checked ~ .sidebar-toggle {
  /* background-color: #386071; */
}
.theme-base-wedding .container a,
.theme-base-wedding .sidebar-toggle,
.theme-base-wedding .related-posts li a:hover {
  /* color: #386071; */
}

.flex-container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.place {
  margin-bottom: 50px;
}

div.image {
  float: left;
  margin: 0px 5px;
}

div.accommodation-images {
  overflow: hidden; /* clearfix */
}

nav.menu {
  margin-bottom: 0.5em;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; /* clearfix */
}

nav li {
  text-align: center;
  float: left;
  margin-right: 1em;
}

@media (max-width: 56em) {
  nav li {
    float: none;
    margin-right: 0;
  }
}

nav li:last-child {
  margin-right: 0;
}

footer {
  margin-top: 3em;
  text-align: center;
  font-size: 0.6em;
}
